data/
node_modules/
.venv/
__pycache__/
logs/
siat/
.env
id_rsa_centinela
id_rsa_centinela.pub
credentials.json
sentinela.db
api_response.json
*.pem
*.key
*.ppk
docs/
keys/
database/*.db
database/sentinela.db
