fastapi
uvicorn
pydantic
psycopg2-binary
redis
flask-cors
hvac
passlib
google-genai
langchain-core
langchain-openai
langchain-community
ansible
python-dotenv
groq
httpx
requests
pandas
typing-extensions
