fastapi
uvicorn
pydantic
psycopg2-binary
redis
flask-cors
hvac
passlib
google-genai
langchain-core
langchain-openai
langchain-community
ansible
python-dotenv
groq
httpx
requests
pandas
typing-extensions
WeasyPrint
docker
semgrep
prowler
medusa-security==2026.7.0
neo4j
pytest
